body { 
        background: url("../images/leaf.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.form-container{
    width: 400px;
    margin: auto;
    padding-top: 30px;
}

.form-container input{
    background: transparent!important;
}

.form-group label{
    color: rgb(7, 7, 7)!important;
}

.form-container my-1 mr-2{
    color: white;
}

.form-container .custom-select{
    background: transparent!important;
}

.form-container:hover{
    background-color: transparent!important;
    opacity: 0.5!important;
}

.navbar{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: transparent!important;
}

.navbar .navbar-brand{
    color: white!important;
}

.nav-item .nav-link{
    color: rgb(241, 237, 237)!important;
}